# Git
.git
.gitignore

# Maven
.mvn
mvnw
mvnw.cmd
target/
!target/*.jar

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Documentation
README.md
dokumentaatio/
*.md

# Build scripts
build.ps1
validate-ci*.ps1

# Config files
checkstyle.xml
config.properties
skipped_files.xml

# GitHub
.github/